@charset "UTF-8";
/* CSS Document */
	body{
		margin:0;
		font-family:"Futura Md Bt";
		font-size:15px;
		background-color:darkgray;
		background-size:100%;
	}
	#page{
		background: white;
		margin:0 auto;
		width:1150px;
		height:200px;
	}
	#pagebottom{
		height:100px;
		margin-top:50px;
	}
	.horizon-menubottom{
		list-style-type: none;
		margin-top:50px;
		padding: 100px;
	}
	.demo-container{
		margin:10px;
	}
	.horizon-menu{
		list-style-type: none;
		padding: 10px;
		border-radius: 5px;
		background-color: gainsboro;
	}
	.horizon-menu a{
		text-decoration:none;
		color:white;
		font-weight:bold
	}
	.horizon-menu li{
		display:inline;
		margin:5px 0
	}
	.horizon-menu li:before{
		content:' | ';
		color:rgba(0,0,0,.1)
	}
	.horizon-menu li:first-child:before{
		content:' '
	}
	.horizon-menu li a{
		margin-right:5px;
		margin-left:5px;
		padding:10px;
		border-radius:5px;
	}
	.horizon-menu li a:hover{
		background-color: gainsboro;
	}
	#isi{
		font-family: "Futura";
		color: #000000;
	}
	.marginkanankiri{
		margin-left:200px;
		margin-right:200px;
	}
	.marginkanankiri{
		margin-left:200px;
		margin-right:200px;
	}
    	*, *:after, *:before {
  		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		box-sizing: border-box;
	}
